*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightblue;
    margin: 0 200px;
    font-family: 'Baloo 2', cursive;
}
h1{
    font-size: 70px;
    color: white;
    text-align: center;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.row{
    padding: 10px;
    margin: 0 auto;
    width: max-content;
}
img{
    float: left;
    height: 180px;
    width: 150px;
    margin: 0 10px;
    border-radius: 10px;
    object-fit: cover;
    background-color: white;
}
.change-image{
    position: relative;
    float: left;
}
span{
    position: absolute;
    bottom: 0;
    left: 30px;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
    display: none;
}
.Air{
    color: magenta;
}
.By{
    color: green;
}
.Tr{
    color: red;
}
.Sh{
    color:orange;
}
.Tra{
    color: blue;
}
.Sub{
    color: purple;
}
.image1{
    display: block;
}
.image2{
    display: none;
    object-fit: contain;
}
.change-image:hover .image1, 
.change-image.active .image1{
    display: none;
}
.change-image:hover .image2,
.change-image.active .image2{
    display: block;
}
.change-image:hover span,
.change-image.active span{
    display: block;
}
footer{
    font-size: 20px;
    text-align: center;
}

