*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightblue;
    margin: 0 200px;
    font-family: 'Baloo 2', cursive;
}
h1{
    font-size: 70px;
    color: white;
    text-align: center;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.row{
    padding: 10px;
    margin-left: 100px;
}

img{
    float: left;
    height: 180px;
    width: 150px;
    margin-left: 20px;
    border-radius: 10px;
    object-fit: cover;
    background-color: white;
}
.image, .change-image{
    position: relative;
    float: left;
}
.discovered-img{ 
    object-fit: contain;
}
.image span{
    position: absolute;
    left: 50px;
    bottom: 0px;
    font-family: 'Baloo 2', cursive;
    color: magenta;
    font-size: 18px;
}
.image1{
    display: block;
}
.image2{
    display: none;
    object-fit: contain;
}
.change-image:hover .image1{
    display: none;
}
.change-image:hover .image2{
    display: block;
}
footer{
    font-size: 20px;
    text-align: center;
}

